/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-top: 40px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-top: 40px;
}

p {
  line-height: 35px;
  margin: 30px;
}

section {
  color: white;
  width: 100%;
  text-decoration-line: none;
}

textarea {
  resize: none;
  width: 705px;
  padding: 10px;
}

/*Sección banner*/

.banner {
  background-image: url("./../images/fondo.jpg");
  background-size: 100%;
  height: 300px;
}

.introduction {
  background-color: rgba(138, 8, 138, 0.616);
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 60px;
  margin-left: 20px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
}

.presentation {
  font-family: "Lucida Sans";
  font-style: oblique;
  display: inline-box;
  padding-left: 0px;
  padding-bottom: 60px;
  margin-right: 10px;
  margin-bottom: -10px;
  position: relative;
}

/*Sobre mí*/

.sobre-mi {
  background-color: rgb(15, 93, 119);
  height: 450px;
  text-decoration-line: none;
}
.CV {
  text-align: center;
  background-color: rgb(80, 10, 80);
  color: white;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.CV:hover {
  background-color: black;
}

/*Mis Skills*/

.skills {
  background-color: rgb(168, 37, 92);
  height: 300px;
  text-decoration-line: none;
}

.barras-skill {
  width: 800px;
  display: flex;
  margin: auto;
  position: relative;
  font-family: Arial;
  font-weight: bolder;
}

.divisor1 {
  width: 350px;
  margin-top: 40px;
}

.divisor2 {
  width: 350px;
  right: 0px;
  margin-top: 40px;
  position: absolute;
}

.divisor1 div,
.divisor2 div {
  margin-bottom: 10px;
}

.barras-skill .contenedor {
  background-color: #ded4f0;
  height: 20px;
  border-radius: 10px;
}

.contenedor div {
  background-color: #4c16af;
  height: 20px;
  width: 50%;
  border-radius: 8px;
}

/*Portafolio*/

.Portafolio {
  background-color: rgb(202, 184, 17);
  height: 300px;
}

.flex-portafolio div {
  display: flex;
  justify-content: space-evenly;
  position: center;
  margin-top: 30px;
}

/*Clientes*/

.clientes {
  background-color: rgb(36, 18, 87);
  height: 200px;
  text-decoration-line: none;
  position: relative;
}
.flex-clientes {
  display: flex;
  justify-content: space-evenly;
  position: center;
  margin-top: 30px;
}

/*Contacto*/

.contacto {
  background-color: rgb(91, 130, 173);
  height: 450px;
}

.contenido-form {
  margin-top: 30px;
  text-align: center;
}
.contenido-form div {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contenido-form button {
  background-color: rgb(13, 18, 92);
  color: white;
  font-size: 15px;
  padding: 10px;
  width: 120px;
}
.contenido-form input[type="text"],
.contenido-form input[type="email"] {
  padding: 10px;
  width: 350px;
}
